.results {
    font-size: 20px;
}

#btn {
    background-color: blue; 
    margin-top: 250px;
    margin-left: 600px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}