
button {
    padding: 15px 20px;
    margin-top: 10px; 
    margin-left: 10px;
}


#toast-container {
    position: fixed; 
    top: 100px;
}


.toast {
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

.toast.show {
    opacity: 1; 
}

.toast.success {
    background-color: blueviolet;
}

.toast.warning {
    background-color: orange;
}

.toast.error {
    background-color: red;
}
